<section>

        <div class="container">

            <ul>
                <a href="#">
                    <!--<li>
                        <h3 class="hidden"><span class="gumroad">Filip Potočnik</span>,</h3>
                        <h3>ME</h3>
                    </li>-->
                </a>
                <a href="https://www.renderspace.si/" target="_blank">
                    <li>
                        <h3 class="hidden"><span class="pinterest">Renderspace</span>,</h3>
                        <h3 class="past">Junior front-end dev</h3>
                    </li>
                </a>
                <a href="https://github.com/filippotocnik" target="_blank">
                    <li>
                        <h3 class="hidden"><span class="usc">Github</span>,</h3>
                        <h3 class="past">Github</h3>
                    </li>
                </a>
                <a href="https://www.linkedin.com/in/filip-potocnik-872357a0" target="_blank">
                    <li>
                        <h3 class="hidden"><span class="dayta">Linked</span><span class="in">In</span>.</h3>
                        <h3 class="past">LinkedIn</h3>
                    </li>
                </a>
                <a href="mailto:filip.potocnik@me.com">
                    <li>
                        <h3 class="hidden"><span class="designer">Ping me :)</span>,</h3>
                        <h3>Contact</h3>
                    </li>
                </a>
                <!--<li>
                    <h3 class="hidden"><span class="designer">#2</span>,</h3>
                        <h3>#1</h3>
                    </li>-->

            </ul>


        </div>

    </section>

    <footer>
        <div class="container">
            <h1>Filip Potočnik</h1>
            <a href="https://www.twitter.com/filippotocnik"><%= image_tag 'twitter.png', class: 'twitter' %></a>
        </div>
    </footer>